
<ng-container [formGroup]="fieldUI.parentSectionFormGroup">
  
  <mat-form-field>
    <mat-label>
      {{fieldUI.formField.label}}
      
    </mat-label>
    <input matInput [required]="(fieldUI.formField.isMandatory && fieldUI.formField.isEnabled) ? true: null"
           name="{{fieldUI.fieldDisplayId}}"
           id="{{fieldUI.fieldDisplayId}}"
           [formControl]="fieldUI.fieldFormControl"           
           (blur)="onBlur($event)"
           (keypress)="$event.keyCode==13 ? onEnter($event) : true"
           type="text" />
  </mat-form-field>  
</ng-container>


