<p>form-section works!</p>
<div class="row" [formGroup]="sectionUI.mainFormGroup">
  <div class="col-md-12  col-lg-12" [formGroupName]="sectionUI.sectionDisplayId">
    <fieldset class="section-border">
      <legend class="section-border">{{sectionUI.title}}</legend>
      <ng-container *ngFor='let fieldUI of sectionUI.fieldsUI; let i=index; let even = even;'>
        <div class="row" *ngIf="even">
          <ng-container>
            <div class="col-md-6  col-lg-6" app-label-with-field-tuple [fieldUI]="fieldUI">
            </div>
          </ng-container>
          <ng-container *ngIf="sectionUI.fields[i+1]">
            <div class="col-md-6  col-lg-6" app-label-with-field-tuple [fieldUI]="sectionUI.fieldsUI[i+1]">
            </div>
          </ng-container>
        </div>
      </ng-container>      
    </fieldset>
  </div>
</div>
