<form (ngSubmit)="formSubmitSubject$.next(ciForm)" #ciForm="ngForm">

  <div class="submit-button-container">
    <button mat-raised-button type="submit" [disabled]="submitting"> {{ submitting ? (submittingButtonText||submitButtonText) : submitButtonText }} </button>
  </div>

  <app-form-section *ngFor="let sectionUI of formSchemaUI.sectionsUI" [sectionUI]="sectionUI" [formGroup]="formSchemaUI.mainFormGroup"></app-form-section>

  <div class="submit-button-container">
    <button mat-raised-button type="submit" [disabled]="submitting"> {{ submitting ? (submittingButtonText||submitButtonText) : submitButtonText }} </button>
  </div>

</form>
