<ng-container [formGroup]="fieldUI.parentSectionFormGroup">

  <mat-form-field>
    <mat-label>
      {{fieldUI.formField.label}}     
    </mat-label>
    <input matInput [required]="(fieldUI.formField.isMandatory && fieldUI.formField.isEnabled) ? true: null"
           [matDatepicker]="fieldUI.FieldDisplayId"
           name="{{fieldUI.FieldDisplayId}}"
           id="{{fieldUI.FieldDisplayId}}"
           [formControl]="fieldUI.fieldFormControl"           
           (blur)="onBlur($event.target.value)"
           (keypress)="$event.keyCode==13 ? onEnter() : true" />
    <mat-datepicker-toggle matSuffix [for]="fieldUI.FieldDisplayId"></mat-datepicker-toggle>
    <mat-datepicker [attr.id]="fieldUI.FieldDisplayId"></mat-datepicker>
  </mat-form-field>

  
</ng-container>


