
<ng-container [formGroup]="fieldUI.parentSectionFormGroup">

  <mat-form-field>
    <mat-label>
      {{fieldUI.formField.label}}
      <span title="Mandatory field" *ngIf="fieldUI.formField.isMandatory && fieldUI.formField.isEnabled"><b>*</b></span>
    </mat-label>
    <textarea matInput
              name="{{fieldUI.FieldDisplayId}}"
              id="{{fieldUI.FieldDisplayId}}"
              [formControl]="fieldUI.fieldFormControl"                 
              (blur)="onBlur($event.target.value)"
              (keypress)="$event.keyCode==13 ? onEnter() : true" type="text"></textarea>
  </mat-form-field>


  
</ng-container>
